<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>LKP Server</title>
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/lib/css/ui-lightness/jquery-ui-1.10.4.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/customer.css" />
    
    <script type="text/javascript"  src='/static/lib/js/jquery-1.9.1.min.js'></script>
    <script type="text/javascript" src='/static/lib/js/jquery-ui-1.10.4.custom.min.js'></script>
    <script type="text/javascript"  src='/static/lib/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='/static/js/monitortaskmanager.js'></script>
</head>
<body style="background-color:#E5E5E5">
<div class="navbar navbar-inverse navbar-fixed-top" style="width:100%;background-color:#003D79;background-image:none;">
    <div class="container" style="width:100%; text-align:center; font-size:20pt; color:white;">
            PnP KPI Regression Control Report <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--- Plan Task Management
    </div>
</div>
<div class="row" style="width:90%;margin-top:78px;margin-left:5%;background-color:#F0FFFF;">
    <div class="col-lg-10"><p style="font-size:16pt;font-weight:bolder;margin-top:5px;">Plan Task List</p></div>
    <div class="col-lg-2">
        <button class="btn btn-xl" style="margin:5px;" onclick="AddNewTask()">Add New Task</button>
    </div>
</div>
<div class="row" style="width:90%;margin-left:5%;background-color:#F0FFFF;">
    <hr style="background-image:-webkit-linear-gradient(45deg,#8ca9cf,#F0FFFF);height:3px;width:20%;margin-top:-2px;margin-bottom:10px;" align="left" color="#987cb9" size="3">
</div>
<div class="row" style="width:90%;margin-left:5%;background-color:#F0FFFF;">
    <table class="table table-striped"><tr class="prettyHead"><th style='width:120px;'>Name</th><th style='width:200px;'>IP</th><th style='width:100px;'>SN</th><th style='width:120px;'>PnP Role</th><th style='width:120px;'>Release Type</th><th style='width:80px;'>Is Active</th><th></th></tr><tbody id="tasklist"></tbody></table>
</div>
<div id="newtask" title="Add New Task"  style="display:none;" class="ui-widget ui-widget-content ui-corner-all">
    <table class="table">
        <tr><td style="width:150px;text-align:right;">Deployed Device</td><td><select id="t_sltDeployedDevice" style="width:200px;height:26px;"></select></td></tr>
        <tr><td style="text-align:right;">Release Type</td><td><select id="t_sltReleasetype" style="width:200px;height:26px;"></select></td></tr>
        <tr><td style="text-align:right;"></td><td><label><input id="t_ismonitor" type="checkbox"/> Is Active?</label></td></tr>
        <tr class="submit-row">
            <td colspan=2 style="text-align:right;"><button class="btn btn-info btn-xs" style="width:60px;" onclick="SaveTask()">Save</button><button class="btn btn-info btn-xs" style="width:60px;margin-left:10px;" onclick="CloseTaskWindow()">Cancel</button></td>
        </tr>
    </table>
</div>
</body>
</html>
